<div class="social">
	<div class="social-item">
		<img src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/iconetwitter.svg">
	</div>
	<div class="social-item">
		<img src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/iconefacebook.svg">
	</div>
	<div class="social-item">
		<img src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/iconeyoutube.svg">
	</div>
	<div class="social-item">
		<img src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/iconeinstagram.svg">
	</div>
	<div class="social-item">
		<img src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/iconedailymotion.svg">
	</div>
</div>